.navbar {
  font-family: "Barlow Condensed";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1800px;
  margin: 0 auto;
  z-index: 10;
}

.navContainer {
  margin: 2rem 0 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.navContainer ul {
  display: flex;
  list-style-type: none;
  padding: 1rem 9rem 1rem 5rem;
  /* Use for reference */
}

.navContainer__listItemsContainer {
  display: flex;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
  backdrop-filter: blur(40.7742px);
  padding: 1rem 0rem;
}

.navContainer__listItemsContainer li {
  padding: 0 3rem;
  /* padding: 1rem 3rem; */
}

.navContainer__listItems {
  padding: 2.7rem 0rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  /* border-bottom: rgba(0, 0, 0, 0) solid 2px; */
}

.navContainer__listItems:hover,
.navContainer__listItems.active {
  border-bottom: #ffffff solid 3px;
}

.navContainer__listItems span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  font-style: normal;
}