.navbar {
  font-family: "Barlow Condensed";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1800px;
  margin: 0 auto;
  z-index: 10;
}

.navContainer {
  margin: 2rem 0 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.navContainer__listItemsContainer {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
  backdrop-filter: blur(40.7742px);
  padding: 1rem 0rem;
}

.menubtn {
  display: none;
  flex-direction: column;
  gap: .7rem;
  cursor: not-allowed;
  padding: 1rem;
}

.menubtn .btn_line {
  width: 3rem;
  height: 3px;
  background: #ffffff;

}

.navContainer ul {
  display: flex;
  list-style-type: none;
  padding: 1rem 9rem 1rem 5rem;
}

.navContainer__listItemsContainer li {
  padding: 0 3rem;
  /* padding: 1rem 3rem; */
}

.navContainer__listItems {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.7rem 0rem;
}

.navContainer__listItems:hover,
.navContainer__listItems.active {
  border-bottom: #ffffff solid 3px;
}

.navContainer__listItems span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 2.7px;

  color: #ffffff;
  /* border-bottom: rgba(0, 0, 0, 0) solid 2px; */
}


@media screen and (max-width: 550px) {

  .navContainer__listItemsContainer {
    display: none;
  }

  .menubtn {
    display: flex;
    /* margin-right: 1rem; */
  }

  .navContainer {
    margin: 2rem 5rem 1rem 5rem;
  }
}


@media screen and (min-width: 549.9px) and (max-width: 1050px) {

  .navContainer__listItemsContainer {
    /* display: none; */
  }

  .navContainer {
    margin: 2rem 0 1rem 5rem;
  }

  .navContainer ul {
    padding: .5rem 5rem .5rem 1.5rem;
  }

  .navContainer__listItemsContainer li {
    padding: 0 1.5rem;
    /* padding: 1rem 3rem; */
  }

  .navContainer__listItemsContainer li span {
    display: none;
  }

}