.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #ffffff;
  font-family: "Barlow Condensed";
  font-style: normal;
  overflow: hidden;
}

.content__body {
  /* margin: 20rem 10rem 0rem; */
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40vh 12rem 0;
  /* padding: 5rem 20rem; */
}

.content__body__content__writeup>p:first-child {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.4725rem;
  text-transform: uppercase;

}

.content__body__content__writeup>p:first-child>span {
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-right: 1rem;
}

.content__body__content {
  display: flex;
  justify-content: space-between;
}

.content__body__content__writeup {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  max-width: 50%;
}

.content__body__content__writeup .profession {
  font-family: "Bellefair";
  font-size: 3.2rem;
  line-height: 3.7rem;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.content__body__content__writeup .name {
  font-style: normal;
  font-size: 5.6rem;
  line-height: 6.4rem;
  text-transform: uppercase;
}

.content__body__content__writeup .description {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  margin-bottom: 5rem;
}

.content__body__content__writeup .tabs {
  display: flex;
}

.content__body__content__writeup .tabs>div {
  height: 1rem;
  width: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 3rem;
  /* padding-inline: 1rem; */
}

.active {
  background-color: #171f41 !important;

}

.content__body__content__image img {
  width: 87.5%;
  max-height: auto;
}