@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.main {
  font-family: "Barlow Condensed";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.main_container {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-inline: 10rem;
}

.main__container__writeup {
  display: flex;
  flex-direction: column;
  color: #d0d6f9;
  width: 40%;
 text-align: left ;
}

.main__container__writeup .header {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.4rem;
  letter-spacing: 0.4725rem;
  color: #d0d6f9;
  text-transform: uppercase;
  margin: 0;
}

.main__container__writeup span {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 20rem;
  color: #ffffff;
}

.main__container__writeup .body {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  margin: 0.5rem;
}

.main__container__explore {
  font-family: "Bellefair", serif;
  max-width: 40%;
}

.main__container__explore p {
  display: flex;
  align-self: flex-start;
  text-transform: uppercase;
  background: #ffffff;
  padding: 14rem 8rem;
  border-radius: 50%;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.7rem;
  letter-spacing: 2px;
  margin: 0;
}
