@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.main {
  font-family: "Barlow Condensed";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
}

.main_container {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40vh 12rem 0;
}

.main__writeup {
  display: flex;
  flex-direction: column;
  color: #d0d6f9;
  width: 40%;
  text-align: left;
}

.main__writeup>.header {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.4rem;
  letter-spacing: 0.4725rem;
  color: #d0d6f9;
  text-transform: uppercase;
  margin: 0;
}

.header>span {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 20rem;
  color: #ffffff;
  display: block;
}

.main__writeup>.body {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  margin: 0.5rem;
}

.explore {
  font-family: "Bellefair", serif;
  max-width: 40%;
  text-align: justify;
  text-transform: uppercase;
  background: #ffffff;
  padding: 14rem 8rem;
  border-radius: 50%;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.7rem;
  letter-spacing: 2px;
}

.explore p {
  margin: 0;
}

@media (max-width: 500px) {
  .main {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }

  .main_container {
    max-width: 500px;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2% 0;
  }

  .main__writeup {
    min-width: 80%;
    margin: 0;
    text-align: center;
  }

  .main__writeup>.header {
    font-weight: 400;
    font-size: 1rem;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;
    margin-bottom: 1rem;
    display: block;
  }

  .header>span {
    display: block;
    font-size: 88px;
    line-height: normal;
    padding-top: 2rem;
  }

  .main__writeup .body {
    min-width: 100%;
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    margin: 2rem 0;
  }

  .explore {
    position: relative;
    padding: 7rem 7rem;
    font-size: 1.7rem;
    margin-top: 4rem;
  }

  .explore p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
  }

}

@media (max-width: 1050px) {
  .main {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }

  .main_container {
    max-width: 1050px;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2% 0;
  }

  .main__writeup {
    min-width: 70%;
    margin: 0;
    text-align: center;
  }

  .main__writeup>.header {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 19px;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
  }

  .header>span {
    display: block;
    font-size: 150px;
    line-height: 150px;
    padding-top: 2rem;
  }

  .main__writeup .body {
    min-width: 100%;
    font-size: 2.5rem;
    line-height: 30px;
    text-align: center;
    margin: 4rem 0;
  }

  .explore {
    position: relative;
    padding: 15rem 15rem;
    font-size: 4rem;
    margin-top: 6rem;
  }

  .explore p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
  }

}