.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  font-family: "Barlow Condensed";
  font-style: normal;
}

.main__container {
  /* margin: 20rem 0rem 0rem 10rem; */
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20vh 12rem 0;
  /* Take note of here*/
}

.main__writeup {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.writeup__container {
  display: flex;
  gap: 2rem;
  flex-grow: 1;

}

.main__writeup>p {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.4725rem;
  text-transform: uppercase;
  padding-left: 5rem;
}

.content__body>p>span {
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-right: 1rem;
}

.writeup__tabs {
  margin-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 60%;
  gap: 4rem;
}

.writeup__tabs>div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;
}

.writeup__tabs>div p {
  display: inline-block;
  margin-block: 0;
  margin-inline: 0;
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: 2px;
}

.writeup__texts {
  max-width: 100%;
}

.writeup__texts .intro {
  text-transform: uppercase;
  margin-top: auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
}

.writeup__texts .terminology {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 64px;
}

.writeup__texts .description {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  color: #d0d6f9;
  max-width: 85%;
}


.main__image {
  width: 100%;
  align-self: flex-start;
}

.main__image>img {
  height: auto;
  width: 100%;
  /* justify-items: flex-end; */
}